* {
  border: 0;
  margin: 0;
  padding: 0;
  color: white;

}


/*Mobile Styling Begins Here!*/

#container img {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.header-nav {
  height: auto;
  width: 100vw;
  border-top: 2px solid white;
  background: black;
  position: fixed;
  border-bottom: 2px solid white;
}

.nav-button {
  color: black;
  font-size: 30px;
  margin: 22px;
}

#head-content {
  z-index: 100;
  position: absolute;
  color: white;
  left: 0px;
  top: 0px;
}

#head-content h1 {
  font-family: 'Hind', sans-serif;
  margin-top: 45px;
  margin-left: 10px;
  font-size: 32px;
  padding: 0;
  border: 0;
}

#head-content h2 {
  font-family: 'Hind', sans-serif;
  font-size: 28px;
  border: 0;
  padding: 0;
  margin-left: 10px;
}

#success {
margin-left: 90px;
margin-top: 250px;
font-family: "Handlee";
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 100%;
color: #FFFFFF;
opacity: 1.00;
}


.main-heading {
  padding-top: 50px;
}
main {
  margin-top: -5px;
  background-image: url('../images/fuzzyblack.jpg')
}

.content-image {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 340px;
  max-width: 95vw;
  min-height: 220px;
  max-height: 33vh;
}

p {
  font-family: 'Monda', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}



h3 {
  font-family: 'Hind', sans-serif;
  font-size: 28px;
  text-align: center;
}

h4 {
  font-family: 'Hind', sans-serif;
  font-size: 24px;
  text-align: center;
}

footer {
  border-top: 2px solid white;
  background: black;
}

.footer-link {
  margin: 22px;
  font-size: 30px;
}
/*Mlobile styling finished here*/
