* {
  font-size: 16;
  border: 0;
  margin: 0;
  padding: 0;
  color: white;
}

body {
    background-image: url('../images/fuzzybg.png');
}

/*Mobile Styling Begins Here!*/

#container img {
  height: 100vh;
  width: 100vw;
  position: relative;
}

a :hover {
  color: #C1162A;
}

a:hover {
  color: #C1162A;
  text-decoration: none;
  font-style: oblique;
}

a {
  text-decoration: none;
}

.header-nav {
  text-align: center;
  height: auto;
  width: 100vw;
  border-top: 2px solid white;
  background: black;
  position: fixed;
  border-bottom: 2px solid white;
}

.nav-button {
  color: black;
  font-size: 1.5rem;
  margin: 6.5%;
}

#head-content {
  height: 100vh;
  z-index: 100;
  position: absolute;
  color: white;
  left: 0;
  top: 0;
  right: 0;
}

#head-content h1 {
  font-family: 'Hind', sans-serif;
  margin-top: 45px;
  margin-left: 10px;
  font-size: 32px;
  padding: 0;
  border: 0;
}

#head-content h2 {
  font-family: 'Hind', sans-serif;
  font-size: 28px;
  border: 0;
  padding: 0;
  margin-left: 10px;
}

#success {
position: absolute;
bottom: 10%;
left: 50%;
margin-left: -3.5em;
margin-top: 250px;
font-family: "Handlee";
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 100%;
color: #FFFFFF;
opacity: 1.00;
}

main {
  max-width: 1100px;
  margin: auto;

}

.main-heading {
  padding-top: 50px;
}

.content-image {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 94%;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: 'Hind', sans-serif;
  font-size: 28px;
  text-align: center;
}

h4 {
  font-family: 'Hind', sans-serif;
  font-size: 24px;
  text-align: center;
}

p {
  font-family: 'Monda', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.links {
  font-style: italic;
}

footer {
  border-top: 2px solid white;
  background: black;
  text-align:center;
}

.footer-link {
  margin: 6%;
  font-size: 1.5em;
}
/*Mlobile styling finished here*/

/*Ipad/tablet styles:*/
@media screen and (min-width: 768px) {

  .nav-button {
    font-size: 3em;
    margin: 7%;
  }

  #head-content h1 {
    margin-top: 90px;
    margin-left: 5vw;
    font-size: 64px;
  }

  #head-content h2 {
    font-size: 56px;
    margin-left: 6.5%;
  }

  #success {
    font-size: 48px;
  }

  .main-heading {
    padding-top: 100px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-link {
    margin: 7%;
    font-size: 3em;
  }

}


@media screen and (min-width: 1440px){
  #head-content h1 {
    margin-top: 90px;
    margin-left: 5vw;
    font-size: 90px;
  }

  #head-content h2 {
    font-size: 70px;
    margin-left: 6.5%;
  }
  #success {
    font-size: 60px;
  }
}
